          <footer>
         <div class="container">
            <div class="row hidden-xs" ng-hide="currentCompany=='WellsFargo'">
               <div class="col-md-4 col-sm-4 col-lg-4">
                  <img class="img-responsive" src="img/EDI-logo.png" />
                   <!--<span class="copyright">Powered by <a href="http://www.persistent.com" target="_blank">Persistent Systems</a></span>-->
               </div>
               <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                  <ul class="list-inline social-buttons">
                     <li><a href="#"><i class="fa fa-twitter"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-youtube"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a>
                     </li>
                  </ul>
               </div>
			   
               <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                  <ul class="list-inline quicklinks">
                     <li><a href="#" style="display:none">Privacy policy</a>
                     </li>
                     <li><a href="#" style="display:none">Terms of use</a>
                     </li>
                      <li><a href="mailto:vega_support@persistent.com">Contact us</a>
                     </li>
                  </ul>
               </div>
            </div>
			<div class="row visible-xs" ng-hide="currentCompany=='WellsFargo'">
			<div class="row">
				<div class="col-xs-12">
                  <img src="img/digitalSandboxSmall.png" align="middle">
                   <!--<span class="copyright">Powered by <a href="http://www.persistent.com" target="_blank">Persistent Systems</a></span>-->
				   </div>
			</div>
			<div class="row">
				<div class="col-xs-6">
                  <ul class="list-inline quicklinks">
                     <li><a href="#" style="display:none">Privacy policy</a>
                     </li>
                     <li><a href="#" style="display:none">Terms of use</a>
                     </li>
                      <li><a href="mailto:vega_support@persistent.com">Contact us</a>
                     </li>
                  </ul>
               </div>
               <div class="col-xs-6">
                  <ul class="list-inline social-buttons" style="margin-top:10px;">
                     <li><a href="#"><i class="fa fa-twitter"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-youtube"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a>
                     </li>
                  </ul>
               </div>
			   </div>
            </div>
			<div class="row hidden-xs" ng-show="currentCompany=='WellsFargo'">
			<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2" style="padding-top:6px" align="middle">
                  <img class="img-responsive" src="common/img/wells_fargo.png">
                   <!--<span class="copyright">Powered by <a href="http://www.persistent.com" target="_blank">Persistent Systems</a></span>-->
               </div>
               <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2" style="padding-left: 0px;">
                  <img class="img-responsive" src="img/EDI-logo.png">
                   <!--<span class="copyright">Powered by <a href="http://www.persistent.com" target="_blank">Persistent Systems</a></span>-->
               </div>
               <div class="col-md-5 col-xs-5 col-sm-5 col-lg-5">
                  <ul class="list-inline social-buttons">
                     <li><a href="#"><i class="fa fa-twitter"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-youtube"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a>
                     </li>
                  </ul>
               </div>
               <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 " align="middle">
                  <ul class="list-inline quicklinks">
                     <li><a href="#" style="display:none">Privacy policy</a>
                     </li>
                     <li><a href="#" style="display:none">Terms of use</a>
                     </li>
                      <li><a href="mailto:vega_support@persistent.com">Contact us</a>
                     </li>
                  </ul>
               </div>
            </div>
			<div class="row visible-xs" ng-show="currentCompany=='WellsFargo'">
			<div class="row">
			<div class="col-xs-5" style="padding-top:6px" align="middle">
                  <img class="img-responsive" src="common/img/wellsFargoSmall.png" align="middle">
                   <!--<span class="copyright">Powered by <a href="http://www.persistent.com" target="_blank">Persistent Systems</a></span>-->
               </div>
               <div class="col-xs-7" style="padding-left: 0px;">
                  <img class="img-responsive" src="img/digitalSandboxSmall.png" align="middle">
                   <!--<span class="copyright">Powered by <a href="http://www.persistent.com" target="_blank">Persistent Systems</a></span>-->
               </div>
			  </div>
			  <div class="row">
               <div class="col-xs-6">
				<ul class="list-inline quicklinks">
                     <li><a href="#" style="display:none">Privacy policy</a>
                     </li>
                     <li><a href="#" style="display:none">Terms of use</a>
                     </li>
                      <li><a href="mailto:vega_support@persistent.com">Contact us</a>
                     </li>
                  </ul>
               </div>
               <div class="col-xs-6" align="middle">
                  <ul class="list-inline social-buttons" style="margin-top:10px;">
                     <li><a href="#"><i class="fa fa-twitter"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-youtube"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a>
                     </li>
                  </ul>
               </div>
			  </div>
			  </div>
         </div>
      </footer>